body {
  font-family: Arial, sans-serif;
  margin: 5;
  padding: 5;
  background-color: #f4f4f4;
  color: #333; 
  line-height: 1.6; 
}

footer {
  text-align: center;
  padding: 3px;
  position:static;
  bottom: 0;
  width: 100%;
}

h1 {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color: #4CAF50; /* Green */
  text-align: center;
  font-size: 2.5em; /* 40px */
  text-shadow: 2px 2px 4px #000000;
}

.output-text {
  font-size: 18px; 
  color: #666; 
  font-family: 'Courier New', Courier, monospace;
}

.github-icon, .bug-icon {
  font-size: 3em;
  position: absolute; 
  top: 10px; 
}

.github-icon {
  right: 70px; 
}

.bug-icon {
  right: 10px; 
}

label, input[type=number] {
  font-family: 'Courier New', Courier, monospace;
}

input[type=number] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
}

input[type=submit] {
  background-color: #4CAF50; 
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 12px;
}