body {
  font-family: Arial, sans-serif;
  margin: 5;
  padding: 5;
  color: #333; 
  line-height: 1.6; 
}

body {
  background-color: rgba(135, 180, 211, 1);
  background-size: 201px 324145px;
  background-image:
    linear-gradient(45deg, 
      rgba(255,255,255,0.5) 0%,
      rgba(212, 255, 0, 0.5) 50%,
      rgba(255, 255, 255, 0) 50%,
      rgba(255,255,255,0) 100%
    ),
    linear-gradient(90deg, 
      rgba(0, 0, 0, 0.5) 0%,
      rgba(255,255,255,0.5) 50%,
      rgba(0, 0, 0, 0) 50%,
      rgba(18, 0, 0, 0) 100%
    );
}

footer {
  text-align: center;
  padding: 3px;
  position:static;
  bottom: 0;
  width: 100%;
}

h1 {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color: #ffffff;
  text-shadow: #000000 inset 2px 2px 4px;
  text-align: center;
  font-size: 2.5em; 
  text-shadow: 2px 2px 4px #000000;
}

.output-text {
  font-size: 18px; 
  color: #333; 
  font-family: 'Courier New', Courier, monospace;
}

.github-icon, .bug-icon {
  font-size: 3em;
  position: absolute; 
  top: 10px; 
}

.github-icon {
  right: 70px; 
}

.bug-icon {
  right: 10px; 
}

label, input[type=number] {
  font-family: 'Courier New', Courier, monospace;
}

input[type=number] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
}

input[type=submit] {
  background-color: #4CAF50; 
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 12px;
}

.copy {
  background: -webkit-linear-gradient(#000000, #abbee2);
  -webkit-background-clip: text;
  
  -webkit-text-fill-color: transparent;
}

.calcular {
  position:center;
}

.footer {
  position: fixed;
  bottom: 0;
  right: 0;
  width: auto;
  /* other styles as needed */
}

